.fundoLogin{
    background-image: url("https://i.imgur.com/i5g7tb7.png");
    background-color: #D9E4DD;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}
